@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');


#footer{
    box-sizing: border-box;
    height: 227px;
    background-color: #446a46;
    padding: 30px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-weight: 100;
}

#footer h1{
    font-family: Roboto;
    font-weight: 100;
    margin: 50px 50px;
}

#footer .contact-us{
    font-size: 25px;
    margin-top: 10px;
    line-height: 30px;
}
#footer .owner-hijab{
    font-size: 25px;
}

